In [1]:
import pandas as pd
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

I extracted precipitations records for Willmington from 2000/01/01 through today. 
The goal is to extract from these data the daily precipitation starting on 2018/01/01 and assess if these data are different from a population with mean $\mu = 0.14$ standard deviation $\sigma= 0.38$. 

Set a p-value at $2\sigma$:  $p=0.05$

In [3]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")
rain

,STATION,NAME,DATE,PRCP,SNOW,SNWD,WESD,WESF
0,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-01,0.28,NaN,0.0,NaN,NaN
1,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-02,0.00,0.0,NaN,NaN,NaN
2,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-03,0.00,0.0,NaN,NaN,NaN
3,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-04,0.00,0.0,NaN,NaN,NaN
4,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-05,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3533,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-04,0.00,0.0,NaN,NaN,NaN
3534,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-05,0.00,0.0,NaN,NaN,NaN
3535,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-06,0.00,0.0,NaN,NaN,NaN
3536,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-07,0.02,NaN,NaN,NaN,NaN
3537,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-08,0.00,0.0,NaN,NaN,NaN


The $Z$ statistics is : $Z = \frac{\bar{X} - \mu }{s}$ and $s = \sigma / \sqrt(N)$ (you should know what all those symbols mean)

1. Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)

2. Convert the dataframe DATE from ```string``` to ```datetime``` type
 using pd.datetime() 
    
3. Select the data rows with date later than 2018/01/01. 
    If your data type conversion worked well you should be able to set the condition as ```rain[<newcolumnname>]> pd.datetime("2018/01/01")```
    use the technique called "broadcasting" to select the rows: 
    
    ```rain[ rain[<newcolumnname>]> pd.datetime("2018/01/01")]``` which you can save as a new dataframe
    
4. Calculate the mean of the sample you created $\bar{X}$ and plug it in  the numerator of the $Z$ statistics: $\bar{X}- \mu$

5. Calculate the size of the sample and plug it in the formula. Now you have $Z$

6. Knowing the distribution of $Z\sim N(\mu=0, \sigma=1)$ and with a confidence $p=0.05$, did you find that the time period 2018/01/01---today has a statistically significant different amount of rain?

In [0]:
# rain["DATE"] ## getting only values from one coulmns 
# rain["DATE"].values ## convert them in to array

rainonly = rain[["DATE", "PRCP"]]

In [0]:
rainonly

            DATE  PRCP
0     2010-01-01  0.28
1     2010-01-02  0.00
2     2010-01-03  0.00
3     2010-01-04  0.00
4     2010-01-05  0.00
5     2010-01-06  0.00
6     2010-01-07  0.00
7     2010-01-08  0.05
8     2010-01-09  0.00
9     2010-01-10  0.00
10    2010-01-11  0.00
11    2010-01-12  0.00
12    2010-01-13  0.00
13    2010-01-14  0.00
14    2010-01-15  0.00
15    2010-01-16  0.00
16    2010-01-17  0.00
17    2010-01-18  0.74
18    2010-01-19  0.00
19    2010-01-20  0.00
20    2010-01-21  0.00
21    2010-01-22  0.00
22    2010-01-23  0.00
23    2010-01-24  0.00
24    2010-01-25  0.38
25    2010-01-26  1.42
26    2010-01-27  0.00
27    2010-01-28  0.00
28    2010-01-29  0.00
29    2010-01-30  0.00
...          ...   ...
3508  2019-08-10  0.00
3509  2019-08-11  0.00
3510  2019-08-12  0.00
3511  2019-08-13  0.00
3512  2019-08-14  0.05
3513  2019-08-15  0.94
3514  2019-08-16  0.00
3515  2019-08-17  0.00
3516  2019-08-18  0.00
3517  2019-08-19  0.04
3518  2019-08-20  0.00
3519  2019-08-21  0.07
3520  2019-08-22  0.00
3521  2019-08-23  0.26
3522  2019-08-24  0.21
3523  2019-08-25  0.00
3524  2019-08-26  0.00
3525  2019-08-27  0.00
3526  2019-08-28  0.00
3527  2019-08-29  0.01
3528  2019-08-30  0.00
3529  2019-08-31  0.00
3530  2019-09-01  0.00
3531  2019-09-02  0.00
3532  2019-09-03  0.00
3533  2019-09-04  0.00
3534  2019-09-05  0.00
3535  2019-09-06  0.00
3536  2019-09-07  0.02
3537  2019-09-08  0.00

[3538 rows x 2 columns]

In [0]:
# rainonly.DATE.dtype ## checking the data type in the onject

rainonly['date'] = pd.to_datetime(rainonly.DATE) ## converting into readable format

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
rainonly.date

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
5      2010-01-06
6      2010-01-07
7      2010-01-08
8      2010-01-09
9      2010-01-10
10     2010-01-11
11     2010-01-12
12     2010-01-13
13     2010-01-14
14     2010-01-15
15     2010-01-16
16     2010-01-17
17     2010-01-18
18     2010-01-19
19     2010-01-20
20     2010-01-21
21     2010-01-22
22     2010-01-23
23     2010-01-24
24     2010-01-25
25     2010-01-26
26     2010-01-27
27     2010-01-28
28     2010-01-29
29     2010-01-30
          ...
3508   2019-08-10
3509   2019-08-11
3510   2019-08-12
3511   2019-08-13
3512   2019-08-14
3513   2019-08-15
3514   2019-08-16
3515   2019-08-17
3516   2019-08-18
3517   2019-08-19
3518   2019-08-20
3519   2019-08-21
3520   2019-08-22
3521   2019-08-23
3522   2019-08-24
3523   2019-08-25
3524   2019-08-26
3525   2019-08-27
3526   2019-08-28
3527   2019-08-29
3528   2019-08-30
3529   2019-08-31
3530   2019-09-01
3531   2019-09-02
3532   2019-09-03
3533   2019-09-04
3534   2019-09-05
3535   2019-09-06
3536   2019-09-07
3537   2019-09-08
Name: date, Length: 3538, dtype: datetime64[ns]

In [0]:
#rainonly['date'] > pd.to_datetime("2018/01/01")

recent = rainonly[rainonly['date'] > pd.to_datetime("2018/01/01")] ## picking a sample from the population

In [0]:
recent

            DATE  PRCP       date
2923  2018-01-02  0.00 2018-01-02
2924  2018-01-03  0.00 2018-01-03
2925  2018-01-04  0.07 2018-01-04
2926  2018-01-05  0.20 2018-01-05
2927  2018-01-06  0.00 2018-01-06
2928  2018-01-07  0.00 2018-01-07
2929  2018-01-08  0.00 2018-01-08
2930  2018-01-09  0.05 2018-01-09
2931  2018-01-10  0.00 2018-01-10
2932  2018-01-11  0.00 2018-01-11
2933  2018-01-12  0.00 2018-01-12
2934  2018-01-13  1.14 2018-01-13
2935  2018-01-14  0.00 2018-01-14
2936  2018-01-15  0.00 2018-01-15
2937  2018-01-16  0.00 2018-01-16
2938  2018-01-17  0.07 2018-01-17
2939  2018-01-18  0.04 2018-01-18
2940  2018-01-19  0.00 2018-01-19
2941  2018-01-20  0.00 2018-01-20
2942  2018-01-21  0.00 2018-01-21
2943  2018-01-22  0.00 2018-01-22
2944  2018-01-23  0.22 2018-01-23
2945  2018-01-24  0.33 2018-01-24
2946  2018-01-25  0.00 2018-01-25
2947  2018-01-26  0.00 2018-01-26
2948  2018-01-27  0.00 2018-01-27
2949  2018-01-28  0.11 2018-01-28
2950  2018-01-29  0.21 2018-01-29
2951  2018-01-30  0.00 2018-01-30
2952  2018-01-31  0.07 2018-01-31
...          ...   ...        ...
3508  2019-08-10  0.00 2019-08-10
3509  2019-08-11  0.00 2019-08-11
3510  2019-08-12  0.00 2019-08-12
3511  2019-08-13  0.00 2019-08-13
3512  2019-08-14  0.05 2019-08-14
3513  2019-08-15  0.94 2019-08-15
3514  2019-08-16  0.00 2019-08-16
3515  2019-08-17  0.00 2019-08-17
3516  2019-08-18  0.00 2019-08-18
3517  2019-08-19  0.04 2019-08-19
3518  2019-08-20  0.00 2019-08-20
3519  2019-08-21  0.07 2019-08-21
3520  2019-08-22  0.00 2019-08-22
3521  2019-08-23  0.26 2019-08-23
3522  2019-08-24  0.21 2019-08-24
3523  2019-08-25  0.00 2019-08-25
3524  2019-08-26  0.00 2019-08-26
3525  2019-08-27  0.00 2019-08-27
3526  2019-08-28  0.00 2019-08-28
3527  2019-08-29  0.01 2019-08-29
3528  2019-08-30  0.00 2019-08-30
3529  2019-08-31  0.00 2019-08-31
3530  2019-09-01  0.00 2019-09-01
3531  2019-09-02  0.00 2019-09-02
3532  2019-09-03  0.00 2019-09-03
3533  2019-09-04  0.00 2019-09-04
3534  2019-09-05  0.00 2019-09-05
3535  2019-09-06  0.00 2019-09-06
3536  2019-09-07  0.02 2019-09-07
3537  2019-09-08  0.00 2019-09-08

[615 rows x 3 columns]

In [0]:
# mean and std of sample
mean_sample = (recent['PRCP'].values).mean()
std_sample = (recent['PRCP'].values).std()

In [0]:
# mean and std of population
mean_pop = 0.14
std_pop = 0.38
N = len(recent) ## length of sample

In [0]:
# applying Z-test
Z = (mean_sample -mean_pop)/(std_pop/np.sqrt(N))
print(Z)

1.664421697050835

In [0]:
Ïƒ = 1
if Z>2*Ïƒ:
  print("Null hypothesis is rejected, time period 2018/01/01-today has a statistically significant different amount of rain")
else:
  print("Null hypothesis is not rejected, time period 2018/01/01-today does not have statistically significant different amount of rain")

Null hypothesis is not rejected, time period 2018/01/01-today does not have statistically significant different amount of rain